= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :question
    = f.text_area :question
  .field
    = f.label :category_id, "Category"
    = category_selector(f)
  %div{:class => "col12 buffer-top50"}
    %div{:class => "col2"} &nbsp;
    %div{:class => "col10"}
      .actions
        = link_to 'Back', questions_path
        = f.submit 'Save'
