= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :question
    = f.text_area :question
  .field
    = f.label :category
    = f.text_field :category
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
