%nav#nav.top-bar.contain-to-grid{:"data-topbar" => true}
  %ul.title-area
    %li.name
      %h1
        // =link_to (image_tag("GO.png", :alt => "Gender Overflow", :width => 75, :height => 75, :title => "Gender Overflow") "/")
        // =image_tag "GO.png", :size => '75x75'
        =link_to(image_tag("GO.png", :alt => "Gender Overflow", :title => "Home", :class=>"images", :id=>"GenderOverflow", :size => '90x90'), "/", :class=>"links", :id=>"logo_link")
    %li.toggle-topbar.menu-icon
      %a{:href => '#'}
        Menu
  %section.top-bar-section
    %ul.left#user_tools
      %li= link_to "Questions", questions_path
      %li= link_to "Categories", categories_path
    %ul.right
      - if current_user
        %li= link_to "Edit User", edit_user_registration_path
        %li= link_to "Sign Out", logout_path, :method => :delete
      - else
        %li= link_to "Sign in", login_path unless current_page?(login_path)
        %li= link_to "Sign Up", sign_up_path unless current_page?(sign_up_path)
