<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="A site for sharing and evaluating trans resources, questions, and issues.">
    <meta name="keywords" content="transgender,trans,transsexual,genderqueer,questions,answers">
    <meta name="author" content="TransHack Las Vegas 2014">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Gender Overflow" %></title>

    <%= javascript_include_tag "https://cdn.goinstant.net/v1/platform.min.js" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'application.js' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class.join(" ") %>">
    <div id="header">
      <%= render :partial => 'layouts/nav' %>
    </div>

    <div id="content">
      <% if content_for? :headline %>
        <h1 class="headline"><%= yield :headline %></h1>
      <% end %>

      <div id="content_body">
        <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>

        <div id="main">
          <%= yield %>
        </div>
      </div>
    </div>



    <div id="footer">
    </div>

    <%= javascript_include_tag 'load_foundation.js' %>
  </body>
</html>