<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Gender Overflow" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="header">
      <%= render :partial => 'layouts/nav' %>
    </div>

    <div id="content">
      <% if content_for? :headline %>
        <h1><%= yield :headline %></h1>
      <% end %>
      <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>

      <div id="main">
        <%= yield %>
      </div>
    </div>



    <div id="footer">
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>